<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
  </configSections>

  <dotNetOpenAuth>
    <openid>
      <relyingParty>
        <behaviors>
          <add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth"/>
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="DBConnectionString"  connectionString="data source=CHETUIWK092\SQL2008; AttachDBFilename=|DataDirectory|ChatME.mdf; User=sa; password=AbcdAbcd..;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RelativePath" value="http://localhost:54664/"/>
  </appSettings>
  <system.web>
    <sessionState timeout="10" mode="InProc" />
  </system.web>
</configuration>


